@import url(./prciec.css);
@import url(./coment.css);
@import url(./frond.css);
@import url(./contact.css);
@import url(./footer.css);
@import url(./tabscity.css);
@import url(./social_icons.css);
@import url(./icons.css);
@import url(./main.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
html {
  font-family: 'Raleway', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
.awesome {
  padding: 100px 0;
}

.container-awesome {
  max-width: 1170px;
  padding: 0 15px;
  margin: auto;
}

.awesome-title {
  text-align: center;
  font-size: 36px;
  line-height: 42px;
  color: #212121;
  text-transform: uppercase;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 34px;
}
.awesome-title::after {
  content: '';
  margin: auto;
  width: 62px;
  height: 2px;
  background-color: #d98943;
  display: block;
  margin-top: 34px;
}

.awesome-subtitle-text {
  font-family: 'open sans' sans-serif;
  text-align: center;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 67px;
  color: #86878b;
}
.awesome-elem {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 -15px;
}
.awesome-elem-items {
  max-width: 350px;
  text-align: center;
  margin: 0 15px;
}
.awesome-elem-circle {
  margin: auto;
  border: 1px solid #100ce6;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.elem-title-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 16px;
  color: #333;
}
.elem-text-desc {
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}
