@import url(./prciec.css);

* {
  margin: 0%;
  padding: 0%;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
.awesome {
  padding-top: 100px;
  padding-bottom: 100px;
}

.container-awesome {
  max-width: 1170px;
  padding: 0 15px;
  margin: auto;
}

.awesome-title {
  font-family: 'fantasy' sans-serif;
  text-align: center;
  text-transform: uppercase;
  size: 36px;
  line-height: 42px;
  margin-bottom: 25px;
}
.awesome-line {
  margin: auto;
  width: 64px;
  border-top: 2px solid #d98943;
  margin-bottom: 30px;
  text-align: center;
  margin-top: 30px;
}
.awesome-subtitle {
  font-family: 'fantasy' sans-serif;
  text-align: center;
  color: black;
  font-size: 14px;
}
.awesome-elem-circle {
  margin: auto;
  border: 1px solid #100ce6;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.awesome-elem-h {
  margin-top: 67px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.awesome-elem {
  display: inline-block;
  max-width: 350px;
  width: auto;
  text-align: center;
}
.elem-title {
  max-width: 350px;
  align-items: flex-start;
  text-align: center;
}
